#div{
background: white;
padding: 25px;
border-radius: 10px;
text-align: center;
box-shadow:0 0 10px gray;
}

body{
margin: 0;
height: 100vh ;
display: flex;
justify-content: center;
align-items: center;
background-color: lightblue;
font-family:Arial, sans-serif;
}

input{
  padding: 8px;
  border: 1px solid gray;
  border-radius: 5px;
}
button{
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  background-color: skyblue;
  cursor: pointer;
}
button:hover{
  background-color: deepskyblue;
}
#result{
  margin-top: 15px;
  word-wrap: break-word;
}